.content-container {
	margin-top:5px;
}

.banner {
	margin-bottom:10px;
}

.index-html .all-cate-card {
		margin-left: 0 !important;
}

/*
 导航 ：inform：通知
新主题：发布
*/

登陆注册 {position:absolute;top:30px;right:0;
}